
.accordionContainer{
  display: flex;
  justify-content: center;
}
.accordion{
text-align: center;
}
.card{
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 2rem;
  width: 50%;
  margin: 1rem auto;
}
.card h2{
  color: crimson;
  text-align: left;
  margin-left: 1rem;
}
.card p{
  color: blue;
 font-size: 1.2rem;
 text-align: left;
 margin-left: 1rem;
}


.accordion button{
  background-color:cornflowerblue;
  padding: 0.3rem;
  border-color: blue;
  border-radius: 15%;
  margin-right: 1em;
  font-size: 1rem;
}

