
.accordionContainer{
  display: flex;
  justify-content: center;
}
.accordion{
  margin-top: 2em;
  text-align: center;
}



.accordion button{
  background-color:cornflowerblue;
  padding: 0.3rem;
  border-color: blue;
  border-radius: 15%;
  margin-right: 1em;
  font-size: 1rem;
}
.accordion div{
  width: 25rem;
}
body{
  
}